.header{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

}

.logo{
    flex: 1;
  display: flex;
  flex-direction: row;
  gap: 0.6rem;

}

.logo>span{
    padding-top: 2rem;
    font-weight: bold;
}

.menu{
    flex: 3;
    padding-left: 25rem;
}
.menu1{

    list-style: none;
    gap: 2rem;
    display: flex;
    flex-direction: row;
    
}

.menu1>li:hover{
    cursor: pointer;
    color: var(--themeRed);
}

.right{
    flex: 1;
   display: flex;
   justify-content: flex-end;

}

.icon1{
    height: 2rem;
}
.icon{
    z-index: 99;
    cursor: pointer;
    position: relative;
}

.badge{
    position: absolute;
    display: flex;
    background-color: var(--themeRed);
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 1rem;
    height: 1.2rem;
    top: 2px;
    left: 27px;
   
    

}

